<!--====== Javascripts & Jquery ======-->
<script src="{{site.url}}/assets/js/vendor/jquery-3.2.1.min.js"></script>
<script src="{{site.url}}/assets/js/bootstrap.min.js"></script>
<script src="{{site.url}}/assets/js/owl.carousel.min.js"></script>
<script src="{{site.url}}/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="{{site.url}}/assets/js/isotope.pkgd.min.js"></script>
{% if page.url == '/gallery/' %}<script src="{{site.url}}/assets/js/jquery.nicescroll.min.js"></script>{%endif%}
<script src="{{site.url}}/assets/js/circle-progress.min.js"></script>
<script src="{{site.url}}/assets/js/pana-accordion.js"></script>
<script src="{{site.url}}/assets/js/fresco.min.js"></script>
<script src="{{site.url}}/assets/js/main.js"></script>
{% if page.url == '/gallery/' %}<script src="{{site.url}}/assets/js/overflow.js"></script>{%endif%}
<script src="{{site.url}}/assets/js/anim.js"></script>
